<h1>Registration</h1>

	<div class="form-horizontal">
	 <fieldset>

		<%= form_for(@user) do |f| %>
		<div class="form-group">
			<%= f.label :name, class:"col-lg-2 control-label" %><br>
			<div class="col-lg-10">
			<%= f.text_field :name, class: "col-lg-2 control-label" %><br>
			</div>
		</div>
 		<div class="form-group">
			<%= f.label :phase, class:"col-lg-2 control-label" %><br>
			<div class="col-lg-10">
			<%= f.select :phase,options_for_select([0, 1, 2, 3, 4]),class:"form-control" %><br>
			</div>
		</div>
 		<div class="form-group">
			<%= f.label :is_mentor, "Roll", class:"col-lg-2 control-label" %><br>
			<div class="col-lg-10">
			<%= f.radio_button :is_mentor, true %> Mentor <br>
			<%= f.radio_button :is_mentor, false %> Student <br>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :email, class:"col-lg-2 control-label" %><br>
			<div class="col-lg-10">
			<%= f.email_field :email, class: "col-lg-2 control-label" %><br>
			</div>
		</div>
 		<div class="form-group">
 			<%= f.label :password, class:"col-lg-2 control-label" %><br>
 			<div class="col-lg-10">
			<%= f.password_field :password, class: "col-lg-2 control-label" %><br>
			</div>
<<<<<<< HEAD
			<div class="form-group">
				<div class="col-lg-10">
					<%= f.label :password_confirmation, class:"col-lg-2 control-label" %><br>
					<%= f.password_field :password_confirmation, class: "col-lg-2 control-label" %><br>
				</div>
=======
		</div>
		<div class="form-group">
			<%= f.label :password_confirmation, class:"col-lg-2 control-label" %><br>
			<div class="col-lg-10">
			<%= f.password_field :password_confirmation, class: "col-lg-2 control-label" %><br>
>>>>>>> bedaf423b41495e623b70c8207d68681cd464f75
			</div>
		</div>
				<%= f.submit "Sign Up", class: "btn btn-primary" %>
		<% end %>
	</fieldset>

</div>
