<h1>Hello, <%=@user.name%>.</h1>

<p>Email: <%=@user.email%></p>

<% if @user.is_mentor? %>
  <p>Expertise: <%=@user.expertise%></p>
<% end %>

<p>Phase: <%=@user.phase%></p>
<p><%=link_to 'Edit Profile', edit_user_path(@user)%>
