<%= form_for @appointment do |a| %>
  <h4>Mentor: <%= @appointment.mentor.name %></h4>
   <h4>Topic: <%= @appointment.topic %></h4>
   <h4>Start_time: <%= @appointment.start_time %></h4>  
  <div>
    <label>Student</label>
    <input type="text" name="app[student]" placeholder="studentname">
  </div>
  <%= a.submit %>

<%end%>
